html
	head
		title Home
		link(href='/src/css/materialize.min.css' type ='text/css' rel='stylesheet')
		link(href='/src/custom.css' type ='text/css' rel='stylesheet')
	body
		script(src='src/js//jquery-3.1.1.min.js')
		script(src='src/js/materialize.min.js')
		
		//- script(src='src/custom.js')

	nav
		div(class="nav-wrapper blue-grey darken-1")
			a(href="#" class="brand-logo") BLOGGG
			ul(id="nav-mobile" class="right hide-on-med-and-down")

	.div.center-align
		p #{message}
	.container
		.row
			.col.m6
				h2.center-aling Sign up here
				.row
					form(class='col.s12' method='post' action='signup')
						.row
							.input-field.col.s6
								input(placeholder='First name' id="first_name" type="text" class="validate" name='signup_firstname' required)
							.input-field.col.s6
								input(placeholder='Last name' id="last_name" type="text" class="validate" name='signup_lastname' required)
						.row
							.input-field.col.s12
								input(placeholder='Email' id="email" type="email" class="validate" name='signup_email' required)
						.row
							.input-field.col.s12
								input(placeholder='Password' id="password" type="password" class="validate" name='signup_password' required)
						.row
							.input-field.col.s12
								input(placeholder='Confirm password' id="confirmPassword" type="password" class="validate" name='signup_confirmPassword' required)
						.row
							.col.s12
						.row
							.col.m12
								p.right-align
									button(class= "btn btn-large waves-effect waves-light blue-grey darken-1", type='submit', name='action' required) Register
			.col.m6
				h2.center-align Or Login
				.row
					form(class='col.s12' method='post' action='login')
						.row
							.input-field.col.s12
								input(placeholder='Email' id="login_email" type="email" class="validate" name='login_email' required)
						.row
							.input-field.col.s12
								input(placeholder='Password' id="login_password" type="password" class="validate" name='login_password' required)
						.row
							.col.s12
								input#remember(type='checkbox')
								label(for='remember') Remember me
						.row
							.col.m12
								p.right-align
									button(class= "btn btn-large waves-effect waves-light blue-grey darken-1", type='submit', name='action') Login
