html
	head
		title Profile
		link(href='/src/css/materialize.min.css' type ='text/css' rel='stylesheet')
		link(href='/src/custom.css' type ='text/css' rel='stylesheet')
	body
		script(src='src/js/materialize.min.js')
		script(src='src/js//jquery-3.1.1.min.js')
		script(src='src/custom.js')


	nav
		div(class="nav-wrapper")
			a(href="#" class="brand-logo") Logo
			ul(id="nav-mobile" class="right hide-on-med-and-down")
				li: a(href="/") Home
				li: a(href="/profile") Profile
				li: a(href="/message") Messages

	.containter.center.align
		h1 Hello #{user.firstName}, welcome to your profile

	.container
		.row
	.container
		p Create a new message here!
			form(class="col s12", method="post", action='newMessage')
				div(class="row")
					div(class="input-field col s12")
						input(placeholder='Title' id="first_name2" type="text" class="validate" name='title')
				div(class="row")
					div(class="input-field col s12")
						textarea(id="textarea1" class="materialize-textarea" placeholder='Message' name='body')
				div(class="row")
					button(class="btn waves-effect waves-light blue-grey darken-1" type="submit" name="action") Submit